@{
    ViewData["Title"] = "Home dos cursos";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Catálogo de cursos:</h1>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Inglês Intermediario</h5>
                <p class="card-text">Ingles realizado na Escola Wizard</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Informatica Basica</h5>
                <p class="card-text">Curso de Informatica basica, World, PowerPoint, Excel</p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">Curso de TI</h5>
                <p class="card-text">Curso Tecnico em Informatica, no Senac </p>
                <a href="#" class="btn btn-primary"></a>
            </div>
        </div>

    </div>

</div>